html,
body,
a {
    font-family: "SUSE Mono", sans-serif;
}

:root {
    --color__principal: #0000001a;
    --color__header: #fff;
    --color__footer: #2a2b3f;
    --color__span: #1565c0;
    --color__docente: #d4e6f1;
    --color__boton: #5499c7;
}

body {
    background-color: var(--color__principal);
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    overflow-x: hidden;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color__header);
    padding: 0.6em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    z-index: 9999;

}

.header__toggler {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header .header__menu {
    display: none;
    font-size: 1.4em;
    color: #333;
    border-radius: 0.4em;
    padding: 0.45em;
    cursor: pointer;
    border: 0.1em solid rgba(0, 0, 0, .18);
    background: #fff;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.header .logo span {
    color: var(--color__span);
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header .navbar a {
    font-size: 1em;
    color: #666;
    padding: 0 0.6em;
    display: inline-block;
}

.header .navbar a:hover {
    color: var(--color__span);
}

.header .header__buscador {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-left: 0.6em;
}

.header .header__buscador input[type="text"] {
    padding: 0.45em 0.9em;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 1em;
    background: #f9f9f9;
}

.header .header__buscador input[type="text"]:focus {
    border-color: var(--color__span);
}

.header .header__buscador button {
    padding: 0.45em 0.8em;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 2em 2em 0;
    background: var(--color__span);
    color: #fff;
    cursor: pointer;

}

.header .header__buscador button i {
    font-size: 1rem;
}

.header .header__iconos a {
    font-size: 1em;
    color: #333;
    margin-left: 0.8em;
}

.header .header__iconos a:hover {
    color: var(--color__span);
}

.contacto_titulo {
    display: flex;
    color: #000000;
    justify-content: center;
    margin-top: 3em;
    padding: 20px 10px;
}

h3 {
    text-align: center;
    padding: 15px 0px;
}

.seccion_datos_oficial {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10em;


}

.seccion_datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: auto;


}

p {
    padding: 10px 5px;
}

.completa_el_form {
    text-align: center;
}

.formulario {
    text-align: center;

}

.formulario_input {
    width: 100%;
    border: none;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 3px;
    margin: 2%;
    padding: 5px 3px
}

.formulario_submit {
    width: 30%;
    height: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    background-color: #5499c7;
    padding: 0.500em
}


.formulario_submit:hover {
    background-color: white;
    color: #000000;

}

.formulario_submit:active {
    background-color: #000000;
    color: #6c6461;
}


.formulario_consulta {
    min-width: 100%;
    min-height: 50px;
    resize: none;
    border: 1px solid black
}

.seccion_contacto {

    width: 400px;
    height: auto;
    text-align: left;

}

.info_contacto {
    list-style: none;

}

.lista__item {
    margin: 4%;
}

.seccion_ubicacion {
    display: flex;
    background-color: #1565c0d5;
    color: white;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 30%;
    margin: 10% auto
}

.ubicacion1 {
    flex: 1;
    max-width: 50%;
}

.ubicacion1 h4 {
    font-size: 24px;

}


.boton {
    display: flex;
    padding: 10px 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

.boton:hover {
    background-color: white;
    color: #6c6461;
}

.ubicacion2 {
    flex: 1;
    max-width: 50%;
    padding: 20px;

}

.ubicacion2 iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

/*INICIO FOOTER*/
.footer{
    margin-top: 2em;
}

.footer__datos {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: .1em solid rgba(0, 0, 0, .3);
}

.footer .footer__datos .footer__datos__contenedores h3 {
    margin-top: 1em;
    color: #333;
    font-size: 1em;
    padding: 1em 0;
}

.footer .footer__datos .footer__datos__contenedores h3 {
    color: #333;
    font-size: 1em;
    padding: 1em 0;
}

.footer .footer__datos .footer__datos__contenedores p {
    display: block;
    color: #666;
    padding: 0.5em 0;
}

.footer .footer__datos .footer__datos__contenedores a {
    display: block;
    color: #666;
    padding: 0.5em 0;
}

.footer .footer__datos .footer__datos__contenedores a:hover {
    color: var(--color__span);
    text-decoration: underline;
}

.footer .footer__creditos {
    text-align: center;
    padding: 1.5em;
    margin-top: 1.5em;
    padding-top: 2.5em;
    font-size: 1em;
    color: #333;
    border-top: .1em solid rgba(0, 0, 0, .3);
}

.footer .footer__creditos span {
    color: var(--color__span);
}

/*FIN FOOTER*/

/*INICIO RESPONSIVE*/
@media (max-width:60em) {
    html {
        font-size: 70%;
    }

    header {
        padding: 2em;
    }

}

@media (max-width: 47em) {

    /*INICIO RESPONSIVE HEADER*/
    .header .header__menu {
        display: block;
    }

    .header {
        padding: 0.5em 1em;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f4f4f4;
        border-top: 0.08em solid rgba(0, 0, 0, .06);
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease, padding .25s ease;
        padding: 0;
        z-index: 999;
    }


    .header__toggler:checked~.navbar {
        max-height: 60vh;
        padding: 1em;
    }

    .header .navbar a {
        display: block;
        margin: 0;
        padding: 0.75em 1em;
        background: #fff;
        border: 0.08em solid rgba(0, 0, 0, .06);
        color: #333;
        font-size: 1.1em;
        width: 100%;
    }

    .header .navbar .header__buscador {
        display: flex;
        gap: 0.5em;
        align-items: center;
        width: 100%;
        margin-top: 0.2em;
    }

    .header .navbar .header__buscador input[type="text"] {
        flex: 1 1 auto;
        padding: 0.6em 0.9em;
        font-size: 1em;
        border-radius: .4em;
        border: 1px solid rgba(0, 0, 0, .08);
    }

    .header .navbar .header__buscador button {
        padding: 0.55em 0.9em;
        border-radius: 0.4em;
        font-size: 1em;
    }

    .header .header__iconos a {
        margin-left: 0.5em;
        font-size: 0.95em;
    }

    /*FIN RESPONSIVE HEADER*/

    .seccion_datos_oficial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: flex-start;
        gap: 10em;
    }

    .seccion_datos {
        width: 30em;
        height: auto;
        margin: 0 auto;
    }

    .seccion_contacto {
        width: 30em;
        margin: 0 auto;
    }

    .lista__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion_ubicacion {
        display: flex;
        background-color: #1565c0d5;
        color: white;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;
        width: 40em;
        height: 30em;
        margin: 10% auto
    }

    .boton {
        padding: 0 3em;
    }

    .boton a {
        padding: 0;
        font-size: 0.250em;
    }

    .ubicacion2 iframe {
        width: 100%;
        height: 25em;
        border: 0;
    }
}

@media (max-width:28em) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2em;
    }

}

/*FIN RESPONSIVE*/