:root {
    --color__principal: #0000001a;
    --color__header: #fff;
    --color__footer: #2a2b3f;
    --color__span: #1565c0;
    --color__boton: #5499c7;
}

body {
    background-color: var(--color__principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    overflow-x: hidden;
}

/*INICIO HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color__header);
    padding: 0.6em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    z-index: 1;

}

.header__toggler {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header .header__menu {
    display: none;
    font-size: 1.4em;
    color: #333;
    border-radius: 0.4em;
    padding: 0.45em;
    cursor: pointer;
    border: 0.1em solid rgba(0, 0, 0, .18);
    background: #fff;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.header .logo span {
    color: var(--color__span);
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header .navbar a {
    font-size: 1em;
    color: #666;
    padding: 0 0.6em;
    display: inline-block;
}

.header .navbar a:hover {
    color: var(--color__span);
}

.header .header__buscador {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-left: 0.6em;
}

.header .header__buscador input[type="text"] {
    padding: 0.45em 0.9em;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 1em;
    background: #f9f9f9;
}

.header .header__buscador input[type="text"]:focus {
    border-color: var(--color__span);
}

.header .header__buscador button {
    padding: 0.45em 0.8em;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 2em 2em 0;
    background: var(--color__span);
    color: #fff;
    cursor: pointer;

}

.header .header__buscador button i {
    font-size: 1rem;
}

.header .header__iconos a {
    font-size: 1em;
    color: #333;
    margin-left: 0.8em;
}

.header .header__iconos a:hover {
    color: var(--color__span);
}

/*FIN HEADER*/

/*INICIO MAIN*/
.foto-fondo {
    margin: 0;
    background-image: url("../multimedia/imagenhero.jpg");
    width: 100%;
    height: 40em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto-fondo .main {
    text-align: center;
    color: var(--color__sombra);
    text-shadow: 1em 1em 2em #0000001a;
    padding: 10em 2em 0 2em;
}

.foto-fondo .main h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 0.8em;
    text-shadow: 0.16em 0.16em 0.16em #0a0a0a;
}

.foto-fondo .main h1 span {
    color: var(--color__span);
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em #cbf2fc;

}

.foto-fondo .main p {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1.5em;
    text-shadow: 0.16em 0.16em 0.16em #0a0a0a;
}

.inscripcion {
    padding: 2em;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.inscripcion h2 {
    flex: 1 1 100%;
    width: 100%;
    font-size: 2em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);
}

.inscripcion-pasos {
    display: flex;
    width: 100%;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;

}

.paso-1,
.paso-2,
.paso-3 {
    flex: 1 1 0;
    min-width: 0;
    padding: 1em;
    color: #252525;
    display: flex;
    flex-direction: column;
    background-color: #5499c731;
    border-radius: 2em;
}

.paso-1 h3,
.paso-2 h3,
.paso-3 h3 {
    margin-bottom: auto;
}

.paso-1 p,
.paso-2 p,
.paso-3 p {
    margin-top: 1em;
    text-align: justify;
}


.inscripcion span {
    color: #0277BD;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: #85f2fa91 0.1em 0.1em 0.1em;
}

.cursos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.cursos h2 {
    flex: 1 1 100%;
    width: 100%;
    font-style: italic;
    font-size: 2em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);
}

.cursos-contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 0 1em;
    margin: 1em auto;
    height: auto;

}

.curso-1-frente,
.curso-2-frente,
.curso-3-frente,
.curso-4-frente,
.curso-5-frente {
    width: 100%;
    max-width: 26em;
    min-width: 0;
    height: auto;
    margin: 0 auto;
    background-color: #5499c731;
    border-radius: 1em;
    box-shadow: 0 .5em 1em var(--color__sombra);
}

.curso-1-frente img,
.curso-2-frente img,
.curso-3-frente img,
.curso-4-frente img,
.curso-5-frente img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.header-curso-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    padding: 1em 0.5em 0.5em 0.5em;
}

.usuarios {
    text-align: left;
    height: auto;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.usuarios h6 {
    font-size: 0.8em;
    margin: 0;
}

.estrellas {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    padding: 0;
    margin: 0;
}

.estrellas i {
    color: #0277BD;
}

.curso-1-frente h3,
.curso-2-frente h3,
.curso-3-frente h3,
.curso-4-frente h3,
.curso-5-frente h3 {
    padding-top: 2em;
    margin: 0.2em;
    font-size: 1.1em;
    color: #131313;
    text-align: center;
    font-weight: bold;
}

.caracteristicas {
    padding: 0.5em 1em;
    border-left: none;
    border-radius: 2em;
    background: var(--color__span);
    color: #ffffffda;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1em;
}


.medios-de-pago h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);

}

.medios-de-pago-contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    width: 90%;
    margin: 0 auto;
}

.tarj-credito,
.tarj-debito,
.transf-bancaria,
.mercado-pago,
.paypal {
    background-color: #ffffff;
    border-radius: 0.5em;
    height: 10em;
    width: 18em;
    padding: 0.5em 0.2em 0 0.2em;
    text-align: center;
}

.tarj-credito span,
.tarj-debito span,
.transf-bancaria span {
    color: #104d8b65;

}

.tarj-credito h4,
.tarj-debito h4,
.transf-bancaria h4,
.mercado-pago h4,
.paypal h4 {
    padding-top: 1em;
    color: #073e7e4b;
}

.tarj-credito h3,
.tarj-debito h3,
.transf-bancaria h3,
.mercado-pago h3,
.paypal h3 {
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.contenedor-bancos-tc img,
.contenedor-bancos-td img,
.contenedor-transf img,
.contenedor-mp img,
.contenedor-ppal img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.2em;
}

/*FIN MAIN*/

/*INICIO FOOTER*/

.footer{
    margin-top: 2em;
}

.footer__datos {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: .1em solid rgba(0, 0, 0, .3);
}

.footer .footer__datos .footer__datos__contenedores h3 {
    margin-top: 1em;
    color: #333;
    font-size: 1em;
    padding: 1em 0;
}

.footer .footer__datos .footer__datos__contenedores p {
    display: block;
    color: #666;
    padding: 0.5em 0;
}

.footer .footer__datos .footer__datos__contenedores a {
    display: block;
    color: #666;
    padding: 0.5em 0;
}

.footer .footer__datos .footer__datos__contenedores a:hover {
    color: var(--color__span);
    text-decoration: underline;
}

.footer .footer__creditos {
    text-align: center;
    padding: 1.5em;
    margin-top: 1.5em;
    padding-top: 2.5em;
    font-size: 1em;
    color: #333;
    border-top: .1em solid rgba(0, 0, 0, .3);
}

.footer .footer__creditos span {
    color: var(--color__span);
}


/*FIN FOOTER*/

/*INICIO RESPONSIVE*/
@media (max-width:60em) {
    html {
        font-size: 70%;
    }

    header {
        padding: 2em;
    }
}

@media (max-width: 47em) {

    /*INICIO RESPONSIVE HEADER*/
    .header .header__menu {
        display: block;
    }

    .header {
        padding: 0.5em 1em;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f4f4f4;
        border-top: 0.08em solid rgba(0, 0, 0, .06);
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease, padding .25s ease;
        padding: 0;
        z-index: 999;
    }

    .header__toggler:checked~.navbar {
        max-height: 60vh;
        padding: 1em;
    }

    .header .navbar a {
        display: block;
        margin: 0;
        padding: 0.75em 1em;
        background: #fff;
        border: 0.08em solid rgba(0, 0, 0, .06);
        color: #333;
        font-size: 1.1em;
        width: 100%;
    }

    .header .navbar .header__buscador {
        display: flex;
        gap: 0.5em;
        align-items: center;
        width: 100%;
        margin-top: 0.2em;
    }

    .header .navbar .header__buscador input[type="text"] {
        flex: 1 1 auto;
        padding: 0.6em 0.9em;
        font-size: 1em;
        border-radius: .4em;
        border: 1px solid rgba(0, 0, 0, .08);
    }

    .header .navbar .header__buscador button {
        padding: 0.55em 0.9em;
        border-radius: 0.4em;
        font-size: 1em;
    }

    .header .header__iconos a {
        margin-left: 0.5em;
        font-size: 0.95em;
    }

    .cursos-contenedor,
    .medios-de-pago-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 0.9em;
        width: calc(100% - 2em);
        margin: 0.8em auto;
        padding: 0 1em;
        box-sizing: border-box;
        height: auto;
    }


    .curso-1-frente,
    .curso-2-frente,
    .curso-3-frente,
    .curso-4-frente,
    .curso-5-frente {
        max-width: none;
        width: 100%;
        min-width: 0;
        margin: 0;
        padding-bottom: 0.6em;
    }

    .curso-1-frente img,
    .curso-2-frente img,
    .curso-3-frente img,
    .curso-4-frente img,
    .curso-5-frente img {
        height: auto;
        max-height: 40vh;
    }
}

@media (max-width:28em) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2em;
    }

    .cursos-contenedor,
    .medios-de-pago-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 0.9rem;
        width: calc(100% - 2rem);
        margin: 0.8em auto;
        padding: 0 1em;
        box-sizing: border-box;
        height: auto;
    }

    .medios-de-pago-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curso-1-frente,
    .curso-2-frente,
    .curso-3-frente,
    .curso-4-frente,
    .curso-5-frente {
        max-width: none;
        width: 100%;
        min-width: 0;
        margin: 0;
        padding-bottom: 0.6em;
    }

    .curso-1-frente img,
    .curso-2-frente img,
    .curso-3-frente img,
    .curso-4-frente img,
    .curso-5-frente img {
        height: auto;
    }
}

/*FIN RESPONSIVE*/