html, body, a{
    font-family: "SUSE Mono", sans-serif;
}

:root{
    --color__principal: #0000001a;
    --color__header: #0a0a0a;     
    --color__navbar: #1565c0;
    --color__footer: #2a2b3f;
    --color__span: #1565c0;
    --color__newsletter: #171717;
    --color__sombra: #e0f3ff;
    --color__boton: #5499c7;
    --color__boton-hover: #0277BD;
}
  
body{
    background-color: var(--color__principal);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*INICIO HEADER*/
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 .5em 1em var(--color__sombra);
}

.header .logo{
    font-size: 1.5em;
    color: #333;
    font-weight: bolder;
}

.header .logo span{
    color: var(--color__span);
}

.header .search-bar {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.header .search-bar input[type="text"] {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 2em 0 0 2em;
    outline: none;
    font-size: 1em;
    background: #f9f9f9;
    transition: border-color 0.2s;
}

.header .search-bar input[type="text"]:focus {
    border-color: var(--color__span);
}

.header .search-bar button {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 2em 2em 0;
    background: var(--color__span);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s;
}

.header .search-bar button:hover {
    background: #104e8b;
}
.header .search-bar button i {
    font-size: 1em;
    color: #fff;
}

.header .navbar a{
    font-size: 1em;
    padding: 0 1.5em;
    color: #666;
}

.header .navbar a:hover{
    color: var(--color__span);
}

.header .icon a {
    font-size: 1em;
    color: #333;
    margin-left: 1em;
}

.header .icon a:hover{
    color: var(--color__span);
}

.header #toggler {
    display: none;
}

.header .fa-bars {
    color: #333;
    border-radius: 0.5em;
    padding: 0.500em 0.500em;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

/*FIN HEADER*/
/*INICIO MAIN*/
.foto-fondo{ 
    margin: 0;
    background-image: url("../multimedia/imagenhero.jpg");
    width: 100%;
    height: 40em; 
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
}
.foto-fondo .main{
    text-align: center;
    color: var(--color__sombra);
    text-shadow: 1em 1em 2em #0000001a;
    padding: 10em 2em 0 2em;
}
.foto-fondo .main h1{
    font-size: 3em;
    margin-bottom: 0.8em;
    text-shadow: 0.16em 0.16em 0.16em #0a0a0a;
}
.foto-fondo .main h1 span{
    color: var(--color__span);
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em #cbf2fc;

}
.foto-fondo .main p{
    font-size: 1.5em;
    margin-bottom: 1.5em;
    text-shadow: 0.16em 0.16em 0.16em #0a0a0a;
}
.inscripcion{
    padding: 2em;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.inscripcion h2{
    flex: 1 1 100%;
    width: 100%;
    font-size: 2em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);
}
.inscripcion-pasos {
    display: flex;
    width: 100%;
    gap: 1em; /* Espacio entre pasos */
    margin-top: 1em;
    justify-content: center;
    
}
.paso-1,
.paso-2, .paso-3 {
    flex: 1 1 0;
    min-width: 0;
    padding: 1em;
    color: #252525;
    /* Opcional: para que tengan la misma altura */
    display: flex;
    flex-direction: column;
    background-color:#5499c731;
    border-radius: 2em;
}
.paso-1 h3, .paso-2 h3, .paso-3 h3{
   
    margin-bottom: auto; /* Esto empuja el <p> hacia abajo alineando todos */
}
.paso-1 p, .paso-2 p, .paso-3 p{
    margin-top: 1em;
    text-align: justify;
}


.inscripcion span{
    color:#0277BD;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: #85f2fa91 0.1em 0.1em 0.1em;
}

.cursos{

     text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}
.cursos h2{
    flex: 1 1 100%;
    width: 100%;
    font-style: italic;
    font-size: 2em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);
}
.cursos span{
    color: #5daeffcc;
    text-decoration: underline;
    
}
.cursos-contenedor {
    color: #131313;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    margin: 1em 0;
    justify-content: center;
}

.curso-1-frente,
.curso-2-frente,
.curso-3-frente,
.curso-4-frente,
.curso-5-frente {
    background-color: #5499c731;
    border-radius: 1em;
    box-shadow: 0 .5em 1em var(--color__sombra);
    height: auto;
    width: 18em;
    min-width: 20em;
    max-width: 30em;
    margin: 0;
    display: flex;
    flex-direction: column;
    transform: perspective(31.25em) rotateY(0deg);
    /* Para que todas tengan el mismo diseño */
}

.curso-1-frente img,
.curso-2-frente img,
.curso-3-frente img,
.curso-4-frente img,
.curso-5-frente img {
    padding: 0.5em;
    border-radius: 1em;
    width: 100%;
    height: 21em;
    object-fit: cover;
}

.curso1,
.curso2,
.curso3,
.curso4,
.curso5{
    position: relative;
    height: 28em; /* Fija un alto para el contenedor, igual al frente */
    width: 18em;
    min-width: 20em;
    max-width: 30em;
}
.curso1 div,
.curso2 div,
.curso3 div,
.curso4 div,
.curso5 div{
    backface-visibility: hidden;
    transition: 1s;
 
}
.curso-1-frente,
.curso-1-dorso,
.curso-2-frente,
.curso-2-dorso,
.curso-3-frente,
.curso-3-dorso,
.curso-4-frente,
.curso-4-dorso,
.curso-5-frente,
.curso-5-dorso {
    position: absolute;
    width: 100%;
    height: 100%; /* Esto asegura que ambos ocupen todo el contenedor */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.curso-1-dorso,
.curso-2-dorso,
.curso-3-dorso,
.curso-4-dorso,
.curso-5-dorso{
    background-color: #c412bb31;
    border-radius: 1em;
    box-shadow: 0 .5em 1em var(--color__sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: perspective(31.25em) rotateY(180deg);
}
.curso1:hover .curso-1-frente,
.curso2:hover .curso-2-frente,
.curso3:hover .curso-3-frente,
.curso4:hover .curso-4-frente,
.curso5:hover .curso-5-frente{
    transform: perspective(31.25em) rotateY(180deg);
}
.curso1:hover .curso-1-dorso,
.curso2:hover .curso-2-dorso,
.curso3:hover .curso-3-dorso,
.curso4:hover .curso-4-dorso,
.curso5:hover .curso-5-dorso{
    transform: perspective(31.25em) rotateY(360deg);
}

.header-curso-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 0.5em; /* Reduce el gap */
    padding: 0.2em 0.5em; /* Reduce el padding */
}

.usuarios {
    text-align: left;
    height: auto;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.usuarios h6 {
    font-size: 0.8em;
    margin: 0;
}

.estrellas {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    padding: 0;
    margin: 0;
}

.estrellas i {
    color: #0277BD;
}

.curso-1-frente h3,
.curso-2-frente h3,
.curso-3-frente h3,
.curso-4-frente h3,
.curso-5-frente h3 {
      padding-top: 2em;
    margin: 0.2em;
    font-size: 1.1em;
    color: #131313;
    text-align: center;
    font-weight: bold;
}
.caracteristicas{
    padding: 0.5em 1em;
    border-left: none;
    border-radius: 2em;
    background: var(--color__span);
    color: #ffffffda;
    cursor: pointer;
    font-size: 1em;
}


.medios-de-pago h2{
    text-align: center;
    font-size: 2em;
    color: #0303039a;
    text-decoration: solid;
    text-shadow: 0.05em 0.05em 0.05em var(--color__newsletter);

}
.medios-de-pago-contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    border-color: #0a0a0a;

    
}
.tarj-credito, .tarj-debito, .transf-bancaria, .mercado-pago, .paypal{

    background-color: #5499c71a;
    border-radius: 0.5em;
    height: 10em;
    width: 18em;
    padding: 0.5em 0.2em 0 0.2em;
    text-align: center;
    
}

.tarj-credito  span, .tarj-debito span, .transf-bancaria span{
    color: #104d8bc0;

}
.tarj-credito h4, .tarj-debito h4, .transf-bancaria h4, 
.mercado-pago h4, .paypal h4{
    padding-top: 1em;
     color: #104d8bc0;
}
.tarj-credito h3, .tarj-debito h3, .transf-bancaria h3, 
.mercado-pago h3, .paypal h3{
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.contenedor-bancos-tc img,
.contenedor-bancos-td img,.contenedor-transf img, 
.contenedor-mp img, .contenedor-ppal img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.2em;
    
}


/*FIN MAIN*/

/*INICIO FOOTER*/
.footer .footer__datos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.footer .footer__datos .footer__datos__contenedores h3{
    color: #333;
    font-size: 1em;
    padding: 1em 0;
}

.footer .footer__datos .footer__datos__contenedores p{
    display: block;
    color: #666;
    padding: 0.5em 0;
}


.footer .footer__datos .footer__datos__contenedores a{
    display: block;
    color: #666;
    padding: 0.5em 0;
}

.footer .footer__datos .footer__datos__contenedores a:hover{
    color: var(--color__span);
    text-decoration: underline;
}

.footer .footer__creditos{
    text-align: center;
    padding: 1.5em;
    margin-top: 1.5em;
    padding-top: 2.5em;
    font-size: 1em;
    color: #333;
    border-top: .1em solid rgba(0,0,0,.3);
}

.footer .footer__creditos span{
    color: var(--color__span);
}
/*FIN FOOTER*/

/*INICIO RESPONSIVE*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}

@media (max-width:768px){

  .header .fa-bars {
    display: block;
    font-size: 1em;
    cursor: pointer;
    margin-left: 1em;
  }

  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: 0.1em solid rgba(0,0,0,.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease;
  }

  /* cuando el checkbox está checked, se expande */
  .header #toggler:checked ~ .navbar{
    max-height: 40em; /* suficiente para mostrar los links; ajusta si hace falta */
  }

  .header .navbar a{
    display: block;
    margin: 0.5em 1em;
    padding: 0.8em 1rem;
    background: #fff;
    border: .1rem solid rgba(0,0,0,.06); /* CORREGIDO 'solid' */
    color: #333;
  }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    header{
        padding: 2rem;
    }
}

@media (max-width:1200px) {
    .cursos-contenedor {
        gap: 1em;
    }
    .curso-1-frente,
    .curso-2-frente,
    .curso-3-frente,
    .curso-4-frente,
    .curso-5-frente {
        width: 180px;
        max-width: 200px;
    }
    .curso-1-frente img,
    .curso-2-frente img,
    .curso-3-frente img,
    .curso-4-frente img,
    .curso-5-frente img {
        height: 90px;
    }
}

@media (max-width:900px) {
    .cursos-contenedor {
        flex-wrap: wrap;
        gap: 1em;
    }
    .curso-1-frente,
    .curso-2-frente,
    .curso-3-frente,
    .curso-4-frente,
    .curso-5-frente {
        width: 45%;
        min-width: 160px;
        max-width: 100%;
    }
}

@media (max-width:600px) {
    .cursos-contenedor {
        flex-direction: row; /* Cambia de column a row */
        flex-wrap: wrap;
        gap: 1em;
        align-items: stretch; /* Opcional: asegura que ocupen todo el alto disponible */
    }
    .curso-1-frente,
    .curso-2-frente,
    .curso-3-frente,
    .curso-4-frente,
    .curso-5-frente {
        width: 48%; /* O 50% si prefieres sin gap */
        min-width: 120px;
        max-width: 100%;
        margin: 0; /* Elimina márgenes extra */
    }
}

/*FIN RESPONSIVE*/