:root {
    --color__boton: #5499c7;
    --color__boton-hover: #0277bd;
}

main {
    width: 90%;
    max-width: 22.375em;
    margin-top: 6em;
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    margin: 0 auto;
}

main form {
    padding: 0 1em;
}

form div {
    margin-top: 2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    display: block;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

select {
    display: block;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.inscribirme {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: var(--color__boton);
    border-radius: 0.5em;
}
.inscribirme:hover {
    background-color: var(--color__boton-hover);
    color: white;
    cursor: pointer;
}


@media (min-width: 28em) {
    main {
        width: 80%;
        max-width: 32.815em;
        margin-top: 8em;
    }
}

@media (min-width: 47em) {
    main {
        width: 70%;
        margin-top: 8em;
    }

    main form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    form div {
        width: 50%;
        margin-top: 2em;
        padding: 0 1em;
    }
}

@media (min-width: 60em) {
    main {
        width: 60%;
        min-width: 672px;
        max-width: 60em;
        margin-top: 8em;
    }
}
